@tailwind base;
@tailwind components;
@tailwind utilities;

.sectionPaddings {
    @apply px-mobile sm:px-tablet md:px-desktop
}

.title-gradient {
    @apply bg-gradient-to-br from-[#ECECEC] from-30% to-transparent to-100% bg-clip-text text-transparent
}

.cardBg {
    @apply bg-[#bdbdbd] bg-opacity-10 border-[1px] border-white border-opacity-[0.09] px-6 py-4 rounded-[15px] transition-all duration-200 ease-in-out
}

.hoverShadow:hover {
    box-shadow: 0 15px 15px rgba(255, 255, 255, 0.2);
    font-weight: 500;
    scale: 1.05;
}

.white-shadow {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.button {
    @apply bg-[#FFFFFF] text-black px-6 py-3 rounded-[15px] transition-all duration-200 ease-in-out white-shadow
}